.shopping-cart-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.items-section,
.cart-section,
.totals-section {
    padding: ;
}

.item-list-item,
.cart-item {
    list-style: none;
    margin-bottom: 10px;
}
